// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background-image: url("../../images/pill-bg.jpg");
//   background-position: center;
// }

.main-container {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-image: url("../../images/pill-bg.jpg");
  background-position: center;
  width: 100%;

  & .form-container {
    position: relative;
    width: 420px;
    height: 450px;
    background: transparent;
    border-radius: 10px;
    color: #fff;
    padding: 40px;
    & h1 {
      font-size: 46px;
      text-align: center;
    }
  }
  & .input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    & input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid #fff;
      border-radius: 40px;
      font-size: 1rem;
      color: #fff;
      padding: 20px 45px 20px 20px;
      &::placeholder {
        color: #fff;
      }
    }
    & .icon {
      position: absolute;
      right: 20px;
      top: 50%;
      translate: 0 -50%;
      font-size: 16px;
    }
  }
}

form {
  & .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  & button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
  }
  & .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    & p a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.remember-forgot {
  accent-color: #fff;
  margin-right: 4px;
  & a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
